<div class="panel card" >
  <div class="panel-body">
    <a routerLink="/product-details/{{product.id}}" class="product-block">
      <div class="product-logo">
        <img src="{{product.logo_url}}" alt="" class="">
      </div>
      <h5>{{product.name}}</h5>
      <small>{{product.short_description}}</small>
    </a>
  </div>
  <!--<div class="panel-footer product-footer">-->
  <!--<div class="row">-->
  <!--<div class="col-md-12">-->
  <!--<a routerLink="/product-details/{{product.id}}" class="btn btn-xs"><i class="fa fa-eye"></i></a>-->
  <!--<a href="{{product.github_url}}" target="_blank" class="btn btn-xs"><i class="fa fa-github"></i></a>-->
  <!--&lt;!&ndash;<ul class="list-inline product-link">&ndash;&gt;-->
  <!--&lt;!&ndash;<li></li>&ndash;&gt;-->
  <!--&lt;!&ndash;<li *ngIf="product.github_url"></li>&ndash;&gt;-->
  <!--&lt;!&ndash;</ul>&ndash;&gt;-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
</div>
