<footer class="footer footer-big" style="background-color: rgb(204, 46, 46); color: #FFFFFF">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="info">
          <h5 class="title" style="color: #FFFFFF">Twajenga Group</h5>
          <nav>
            <ul>
              <li><a routerLink="">Home</a></li>
              <li><a routerLink="/about-us">About Us</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-3 col-sm-6"></div>
      <div class="col-md-2 col-md-offset-1 col-sm-3">
        <div class="info">
          <h5 class="title">Follow us on</h5>
          <ul class="list-inline">
            <li><a href="" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
            <li><a href="" target="_blank"><i class="fa fa-youtube"></i></a></li>
            <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <h4>News</h4>
        <p>Twajenga nasdjas dsjd djd dkjid djd djd djd djd</p>

      </div>
    </div>
    <hr>
    <div class="copyright">
      © <script> document.write(new Date().getFullYear()) </script>
      <a routerLiink=""><img src="" alt="LOGO" height="30"></a>
    </div>
  </div>
</footer>
