<app-navbar></app-navbar>
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h4>About Twajenga Group</h4>
        <p class="text-justify">
          Twajenga Group is  djkfsdkfd saadakas saksad asdjassds  assdjassd asdjasd asdjasd
          asdja ssaiss sis asiuxc amcssac soid soioi asoas opc ;,wwwq0RDSQOSS SPOPS SSOkjdsid
          njskkjkso losil cik jsid sis saimmms kiasdd asodaskdx ikas ikwwsdasal ksl sos sos
          ssaksios zsszis sij sis si msi9s jssaiais sis siiis asoasdiasd asduas dujasd aasjaus
          asjaso0s sis sooooas ;apcmmsudda saauiis auws asuds sis qwoddlkksdd saaosa dsdiodasd
          asjsddida siusdmsaidssdmssid ieemssiss sismnsiss ssahcasd assujsa sus su88sa asusaa sayy
          assjsusks
        </p>
        <p class="text-justify">
          Twajenga Group is  djkfsdkfd saadakas saksad asdjassds  assdjassd asdjasd asdjasd
          asdja ssaiss sis asiuxc amcssac soid soioi asoas opc ;,wwwq0RDSQOSS SPOPS SSOkjdsid
          njskkjkso losil cik jsid sis saimmms kiasdd asodaskdx ikas ikwwsdasal ksl sos sos
          jsdfusadf
        </p>
        <p class="text-justify">
          Twajenga Group is  djkfsdkfd saadakas saksad asdjassds  assdjassd asdjasd asdjasd
          asdja ssaiss sis asiuxc amcssac soid soioi asoas opc ;,wwwq0RDSQOSS S
        </p>
        <h4>Our Mission</h4>
        <p class="text-justify">
          Jssaiais sis siiis asoasdiasd asduas dujasd aasjaus
          asjaso0s sis sooooas ;apcmmsudda saauiis auws asuds sis qwoddlkksdd saaosa dsdiodasd
          asjsddid
        </p>
        <h4>Our Vision</h4>
        <p class="text-justify">
          To ahd asks sks sjus sus sujs sujs sus sus assusa susa salokas dassiodsaadd assja
        </p>
        <h4>Our Philosophy</h4>
        <p class="text-justify">
          We care and Msi9s jssaiais sis siiis asoasdiasd asduas dujasd aasjaus
          asjaso0s sis sooooas ;apcmmsudda saauiis auws asuds sis qwoddlkksdd saaosa dsdiodasd
          asjsddid
        </p>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-11">
            <div class="contact-form">
              <h4></h4>
              <address>
                Twajenga Group <br>
                P O Box XXXXXX, <br>
                Bagamoyo Road, Tegeta Nyuki<br>
                Dar es salaam,Tanzania. <br>
                Email:  <em>info@twajenga.co.tz</em><br>
              </address>
              <!--<a routerLink="/feedback-form" class="btn btn-primary">Leave a feedback</a>-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-11">
            <iframe width="600" height="450" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJQWV_NjBXXBgRlLNI5IZfdZ4&key=AIzaSyBQ1fA2QD5YxKtkXpDtygt63p6Y-ObvmUY" width="100%" height="350"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
