<app-navbar></app-navbar>
<section id="product-detail">
  <app-loader *ngIf="loading && !hasError"></app-loader>
  <div class="container" *ngIf="!loading && !hasError">
    <div class="row">
      <div class="title-area">
        <h3 class="text-center">{{product.name}}</h3>
        <div class="separator separator-danger">✻</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="owl-carousel product-carousel">
          <!--<div class="embed-responsive embed-responsive-16by9"  *ngIf="product.video_url">-->
            <!--<iframe [src]="product.video_url | safe" frameborder="0" allowfullscreen autoplay="1" autostart="0"></iframe>-->
          <!--</div>-->
          <div class="embed-responsive embed-responsive-16by9">
            <img [src]="product.cover_url" class="img-responsive" alt="">
          </div>
        </div>
        <ul id='carousel-custom-dots' class='owl-dots list-inline text-center'>
          <li class="owl-dot" *ngIf="product.video_url"><span></span></li>
          <li class="owl-dot"><span></span></li>
        </ul>

        <div class="panel panel-default product-description-panel">
          <div class="panel-body">
            <!--<h4 style="color: #00abc0;"><b>Hello there,</b></h4>-->
            <h5 class="text-justify" *ngIf="product.github_url">Want to get involved in development? Check out {{product.name}} on <a style="color: #00abc0;" href="{{product.github_url}}" target="_blank">github</a></h5>
            <div style="border-bottom: solid 1px #cecece;"></div>
            <p>For more about our apps please visit our <a style="color: #00abc0;" href="http://appstore.hisptanzania.org/" target="_blank">appstore</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default product-description-panel" style="height: 190px; overflow-y: auto;">
              <div class="panel-body">
                <ul class="list-inline" style="border-bottom: solid 1px #cecece;">
                  <li><img src="{{product.logo_url}}" alt="" width="26" height="26" style="padding-bottom: 3px;"></li>
                  <li><h4><b>{{product.name}}</b></h4></li>
                </ul>
                <ul class="list-inline">
                  <li><small><b>Version:</b> {{product.version}}</small></li>
                  <li *ngIf="product.revision"><small><b>Revision:</b> {{product.revision}}</small></li>
                  <li><small><b>License:</b> <a target="_blank" style="color: #0189D6;" href="https://opensource.org/licenses/bsd-license.php">BSD License</a></small></li>
                </ul>
                <h4><b>Description</b></h4>
                <p class="text-justify">{{product.description}}</p>
                <div class="row">
                  <div class="col-md-12">
                    <ul class="list-inline pull-left">
                      <li *ngIf="product.demo_url"><a href="{{product.demo_url}}" target="_blank" class="btn btn-sm">demo</a></li>
                      <li *ngIf="product.demo_url"><a href="{{product.github_url}}" target="_blank" class="btn btn-sm"><i class="fa fa-github"></i> github</a></li>
                    </ul>
                    <ul class="list-inline pull-right">
                      <li><a class="btn btn-sm btn-primary" routerLink="/products">All products</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="panel panel-default product-features-panel"  style="height: 250px; overflow-y: auto;">
              <div class="panel-body">
                <h4><b>Features</b></h4>
                <div style="border-bottom: solid 1px #cecece; margin-bottom: 10px;"></div>
                <ul class="list-unstyled" *ngFor="let feature of product.features">
                  <div class="row">
                    <div class="col-md-2 col-xs-2 col-sm-2" style="color: #008EDD; padding-left: 8%;"><span class=""><i class="fa fa-check-square"></i></span></div>
                    <div class="col-md-10 col-xs-10 col-sm-10" style="padding-left: 0px;"><span>{{feature}}</span></div>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
