<app-navbar></app-navbar>
<section id="investor">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3 style="color: #2E98D3;">Investment Opportunity  in microfinance company in Tanzania</h3>
        <p class="text-justify">
          Investments returns in microfinance industry are very promising. The demand-supply gap for microfinance products and services is still high given low financial inclusion and access to capital in the country and especially the poor households. Tanzania’s macroeconomic remain relatively strong with annual economic growth rates projected above 7%, one of fast-growing economies in Africa. Investing in the microfinance industry has both positive and significant social and economic impacts in the society.
        </p><br>
        <h3 style="color: #2E98D3;">Why invest with us?</h3>
        <p  class="text-justify">
          <b style="color: #000">Stable political and strong economic growth – </b>
          Tanzania enjoys relative stable political stability and strong economic growth with good investment opportunities in mining, oil and gas, infrastructure, manufacturing, and agriculture.
        </p>
        <p class="text-justify">
          <b style="color: #000">Unmet demand for microfinance products and services- </b> the industry presents one of the unique investment opportunities as the demand for microfinance products and service is still high compared to the supply side.
        </p>
        <p>
          <b style="color: #000">Innovative and dynamic company- </b>Twajenga continues to develop various products and services by providing customers solutions in most efficient and effective ways. The objective is to ensure that the products and services offerings match the dynamics and changes in the market.
        </p>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-11">
            <div class="contact-form">
              <h4 style="color: #2E98D3">For investment opportunities, Contact us</h4>
              <address>
                Mobile:<br>
                +255 745 999 222 / +255 736 000 021<br>
                Contact Person: <br>
                Managing Director (MD) ,<br>
                Nathaniel Kombe<br><br>
                Email:  <em>ceo@twajenga.co.tz</em>
              </address>
              <!--<a routerLink="/feedback-form" class="btn btn-primary">Leave a feedback</a>-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-11">
            <iframe width="600" height="450" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJQWV_NjBXXBgRlLNI5IZfdZ4&key=AIzaSyBQ1fA2QD5YxKtkXpDtygt63p6Y-ObvmUY" width="100%" height="350"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
