<div class="container">
  <div class="col-md-8">
    <app-sliding-products></app-sliding-products>
  </div>
  <div class="col-md-4">
    <div style="height: 220px;overflow-y: auto;">
      <h3 style="border-bottom: solid 2px #00abc0; padding-bottom: 10px;">Our Vision</h3>
      <p>Htfs hsad ashjsaad ashsad zhyasd aasshysd ashysa ashys asysa asyas asys
      jsaauas saausaa assusa sayus sas. ashas saks assusa.. susa saajusa ashjsa
      saakjasusansaus shs</p>
    </div>
  </div>
  <!--<div class="col-md-4">-->
    <!--<h3>Welcome to see our products</h3>-->
    <!--<p>We product products</p>-->
  <!--</div>-->
</div>
