<div class="container">
  <div class="col-md-8">
    <app-sliding-products></app-sliding-products>
  </div>
  <div class="col-md-4">
    <div style="height: 220px;overflow-y: auto;">
      <h3 style="color: #FF7200;">Our Vision</h3>
      <p class="text-justify">
        To be the leading public listed microfinance organization in terms of growth and social impact in Dar es salaam by 2021.
      </p>
    </div>
  </div>
  <!--<div class="col-md-4">-->
    <!--<h3>Welcome to see our products</h3>-->
    <!--<p>We product products</p>-->
  <!--</div>-->
</div>
