<div class="section section-header landing-carousel owl-carousel">
  <div class="" style="background-image: url(''); height: 379px; width: 100%; background-repeat: no-repeat; background-size: cover;" class="parallax filter filter-color-blue">
    <div class="container">
      <div class="content">
        <div class="title-area">
          <h2 class="title-modern">Solidarity Group Lending</h2>
          <h3>These are small business loan facilities designed to provide customers with easy access to funds for their working capital needs secured by the solidarity group guarantee</h3>
          <!--<div class="separator line-separator">♦</div>-->
        </div>
        <!--<a routerLink="/products" class="btn btn-primary btn-fill btn-lg landing-btn">-->
          <!--View our products-->
        <!--</a>-->
      </div>

    </div>
  </div>
  <div style="background-image: url(''); height: 379px; width: 100%; background-repeat: no-repeat; background-size: cover;" class="parallax filter filter-color-blue">
    <div class="container" >
      <div class="content">
        <div class="title-area">
          <h2 class="title-modern">Microleasing loanse</h2>
          <h3>These are specific loans that create a contractual arrangement between the customer (the lessee) and Twajenga (the lessor)</h3>
          <!--<div class="separator line-separator">♦</div>-->
        </div>
        <!--<a routerLink="/capacity-building" class="btn btn-primary btn-fill btn-lg landing-btn">-->
          <!--View our training-->
        <!--</a>-->
      </div>
    </div>
  </div>
  <div style="background-image: url(''); height: 379px; width: 100%; background-repeat: no-repeat; background-size: cover;" class="parallax filter filter-color-blue">
    <div class="container">
      <div class="content">
        <div class="title-area">
          <h2 class="title-modern">Equipment Finance</h2>
          <h3>The cost of machinery and capital goods can be very high for SME’S and entrepreneurs, at Twajenga we provide a solution to this</h3>
          <!--<div class="separator line-separator">♦</div>-->
        </div>
        <!--<a routerLink="/papers" class="btn btn-primary btn-fill btn-lg landing-btn">-->
          <!--View our papers-->
        <!--</a>-->
      </div>

    </div>
  </div>
</div>
<ul id='carousel-custom-dots' class='owl-dots list-inline text-center'>
  <li class='owl-dot'><span></span></li>
  <li class='owl-dot'><span></span></li>
  <li class='owl-dot'><span></span></li>
</ul>
