<div class="section section-header landing-carousel owl-carousel">
  <div class="" style="background-image: url('assets/img/innovation.jpg'); height: 379px; width: 100%; background-repeat: no-repeat; background-size: cover;" class="parallax filter filter-color-blue">
    <div class="container">
      <div class="content">
        <div class="title-area">
          <h2 class="title-modern">We serve the community</h2>
          <h3>Twajenga jsd sduifoass sos nasod assisols sis asidd sis ao0osd asis assusddsolodd d;pdiods aus shyudis sus</h3>
          <div class="separator line-separator">♦</div>
        </div>
        <!--<a routerLink="/products" class="btn btn-primary btn-fill btn-lg landing-btn">-->
          <!--View our products-->
        <!--</a>-->
      </div>

    </div>
  </div>
  <div style="background-image: url('assets/img/training.jpg'); height: 379px; width: 100%; background-repeat: no-repeat; background-size: cover;" class="parallax filter filter-color-blue">
    <div class="container" >
      <div class="content">
        <div class="title-area">
          <h2 class="title-modern">We make you get the dream you have</h2>
          <h3>With Twajenga Group, n dkjasd jd assjdssd  djuas dssdjuidf ajhud asiud fod did dsid duisd duds dud asdka ossijs soos iis isias</h3>
          <div class="separator line-separator">♦</div>
        </div>
        <!--<a routerLink="/capacity-building" class="btn btn-primary btn-fill btn-lg landing-btn">-->
          <!--View our training-->
        <!--</a>-->
      </div>
    </div>
  </div>
  <div style="background-image: url('assets/img/saccoss.jpg'); height: 379px; width: 100%; background-repeat: no-repeat; background-size: cover;" class="parallax filter filter-color-blue">
    <div class="container">
      <div class="content">
        <div class="title-area">
          <h2 class="title-modern">We support groups (Saccoss groups)</h2>
          <h3>hdsjsdhjds dsjds sdjds sdhjd sddjds djd dujd djd dhjud aspod dosdueos didoa djaodshjd diddud dud saaopoopps sid suiid sais duass dia dsoas</h3>
          <div class="separator line-separator">♦</div>
        </div>
        <!--<a routerLink="/papers" class="btn btn-primary btn-fill btn-lg landing-btn">-->
          <!--View our papers-->
        <!--</a>-->
      </div>

    </div>
  </div>
</div>
<ul id='carousel-custom-dots' class='owl-dots list-inline text-center'>
  <li class='owl-dot'><span></span></li>
  <li class='owl-dot'><span></span></li>
  <li class='owl-dot'><span></span></li>
</ul>
