<app-navbar></app-navbar>
<section id="articles">
  <app-loader></app-loader>
  <div class="container">
    <div class="row">
      <div class="title-area">
        <h3 class="text-center">Articles</h3>
        <div class="separator separator-danger">✻</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="row" style=" margin-bottom: 20px;">
          <div class="col-md-5">
            <img src="../../../assets/img/research.jpg" class="img-responsive" alt="">
          </div>
          <div class="col-md-7">
            <span><b>Heading......</b></span>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
          <div class="col-md-5">
            <img src="../../../assets/img/research.jpg" class="img-responsive" alt="">
          </div>
          <div class="col-md-7">
            <span><b>Heading......</b></span>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
