<app-navbar></app-navbar>
<section id="products-page">
  <div class="container">
    <div class="row">
      <div class="title-area">
        <h3 class="text-center">Our Products</h3>
        <div class="separator separator">✻</div>
      </div>
    </div>
    <app-loader *ngIf="loading && !hasError"></app-loader>
    <div class="row" *ngIf="!loading && !hasError">
      <div class="col-md-4 " *ngFor="let product of products">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
  </div>
</section>
