<section>
  <div class="container">
    <div class="row">
      <div class="title-area">
        <h3 class="text-center">Our Activities</h3>
        <div class="separator separator-danger">✻</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center activities-block">
        <div class="activities-icon"><i class="fa fa-code"></i></div>
        <h5>Software development</h5>
        <p>Our team is responsible for development and customization of the district based National Data Warehouse on the DHIS2 platform</p>
        <div>
          <a  style="color: #008CDB;" routerLink="/products"><i class="fa fa-eye"></i></a>
        </div>
      </div>
      <div class="col-md-4 text-center activities-block">
        <div class="activities-icon"><i class="fa fa-cubes"></i></div>
        <h5>Capacity building</h5>
        <p>Different training modules have been designed to suit different cadres in the existing health sector management at all levels.</p>
        <div>
          <a  style="color: #008CDB;" routerLink="/capacity-building"><i class="fa fa-eye"></i></a>
        </div>
      </div>
      <div class="col-md-4 text-center activities-block">
        <div class="activities-icon"><i class="fa fa-leanpub"></i></div>
        <h5>Research</h5>
        <p>Despite the physical output realised in the course of projects execution there have also been academic outputs.</p>
        <div>
          <a  style="color: #008CDB;" routerLink="/papers"><i class="fa fa-eye"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
