<app-navbar></app-navbar>
<section id="team">
  <div class="container">
    <div class="row">
      <div class="title-area">
        <h3 class="text-center">Meet The Team</h3>
        <div class="separator separator-danger">✻</div>
        <p class="text-center">
          HISP Tanzania (HISPTZ) has a pool of skill-mixed experts with BSc, MSc and PhD
          qualifications and with combined years’ experience in fields of
          Information Systems, Health informatics, Software Engineering, Computer Engineering and Computer Science.
          At HISPTZ, there is a dedicated team of experienced system developers and analysts with diverse specialization
          and skills ranging from Open Source Software development,
          Advanced software/mobile programming, Business/data analysis,
          Project management, and Social-Technical System approaches.
          With its extensive expertise and field experience in supporting improvements of health systems,
          the team prides itself as being one of the robust teams specializing in
          health information systems in the developing countries with a primary focus
          in Tanzania and East Africa
        </p>
      </div>
    </div>
    <div class="row">
      <div class="title-area">
        <h3 class="text-center">Meet our Implementors</h3>
        <div class="separator separator-danger">✻</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3" *ngFor="let analyst of analysts">
        <div class="team-member card">
          <div class="team-img">
            <a routerLink="/team-member/{{analyst.id}}"><img class="img-responsive" height="350" src="{{analyst.img_url}}" alt=""></a>
          </div>
          <div class="team-info">
            <h5>{{analyst.name}}</h5>
            <h6>({{analyst.title}})</h6>
            <small>{{analyst.position}}</small>
          </div>
          <ul class="social-icons">
            <li><a href="{{analyst.linkedin_url}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li class="pull-right"><a routerLink="/team-member/{{analyst.id}}"><i class="fa fa-eye"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="title-area">
        <h3 class="text-center">Meet Our Developers</h3>
        <div class="separator separator-danger">✻</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3" *ngFor="let developer of developers">
        <div class="team-member card">
          <div class="team-img">
            <a routerLink="/team-member/{{developer.id}}"><img  height="290" width="270" src="{{developer.img_url}}" alt=""></a>
          </div>
          <div class="team-info">
            <h5>{{developer.name}}</h5>
            <h6>({{developer.title}})</h6>
            <small>{{developer.position}}</small>
          </div>
          <ul class="social-icons">
            <li><a href="{{developer.linkedin_url}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li class="pull-right"><a routerLink="/team-member/{{developer.id}}"><i class="fa fa-eye"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
