<app-navbar-home></app-navbar-home>
<app-landing></app-landing>
<!--<app-activities></app-activities>-->
<app-featured-product></app-featured-product>
<app-mixed-product-info></app-mixed-product-info>
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-4">-->
      <!--<div class="panel"  style="background-color: #00abc0; color: #fff; margin-top: 40px;">-->
        <!--<div class="panel-body  text-center">-->
          <!--<h3>We make life easier for you. Want to know how?</h3>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<app-featured-article></app-featured-article>-->
    <!--<app-academies></app-academies>-->
  <!--</div>-->
<!--</div>-->

