<div class="col-md-4">
  <h3 style="border-bottom: solid 2px #e78b90; padding-bottom: 10px;">DHIS2 <b style="color: #00abc0;">Academies</b></h3>
  <h4>Purpose</h4>
  <p>The DHIS2 Academies aim to build a community of DHIS2 users and experts in the different regions and facilitate sharing of experiences on DHIS2 deployments and strategies for national-scale HIS implementations.</p>
  <h4 style="color: #00abc0; text-align: left;">Coming soon on <br><b style="color: black;font-weight: 500;">9 - 14 October 2017</b></h4>
  <small style="font-weight: 500;"><a href="https://www.dhis2.org/academy" target="_blank">More about DHIS2 Academies</a></small>
</div>
